<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Filemanager</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="conatiner-fluid p-2 ms-5 row d-flex align-items-baseline">
            <div class="nav-item col">
                <a class="nav-link text-light" href="/filemanager">
                    <i class="bi bi-house-door-fill" style="font-size: 1.5em;"></i></i></a>
            </div>

        </div>
    </nav>

    {{{ body }}}

</body>

</html>