<link rel="stylesheet" href="css/editor.css">
<link rel="stylesheet" href="css/editor-themes.css">
<script src="js/editor.js"> </script>
{{!-- --}}
<dialog id="rnFile">
    <h3>Zmień nazwę pliku</h3>
    <form method="get" action="/rnFile">
        <input type="hidden" name="root" value="{{ root }}">
        <input type="text" name="name" required>
        <button type="submit">Ok</button>
    </form>
    <button type="button" onclick="document.getElementById('rnFile').close()">Cancel</button>
</dialog>

<div class="d-flex">
    <aside>
        <div class="mt-4 d-flex align-items-center justify-content-center p-0"
            style="width: 230px!important; margin-left: 10px">
            <button class="editor-settings-button" id="fontD"
                style="border-top-left-radius: 20%; border-bottom-left-radius: 20%; ;background-color: yellow;">Font
                -</button>
            <button class="editor-settings-button" id="themeCh"
                style="background-color: rgb(226, 173, 38);">Kolory</button>
            <button class="editor-settings-button" id="fontU"
                style="border-top-right-radius: 20%; border-bottom-right-radius: 20%;background-color: orange;">Font
                +</button>
        </div>
        <button class="btn btn-secondary btn-lg" id="saveEditorSettings">Zapisz ustawienia</button>
        <button class="btn btn-warning btn-lg" onclick="document.getElementById('rnFile').showModal()">Zmień nazwę
            pliku</button>
        <button class="btn btn-info btn-lg">Podgląd Pliku</button>


    </aside>
    <main style="padding: 0; display: flex; flex-direction: column;">
        <div id="file_header">{{root}}</div>
        <div class="d-flex" style="height: 100vh;">
            <div id="lines"><textarea id="line_num" disabled></textarea></div>
            <textarea id="text_area" name="content" form="save_form">{{contents}}</textarea>
        </div>
        <div id="save-file-footer">
            <form id="save_form" method="get" action="/saveFile">
                <input type="hidden" name="root" value="{{root}}">
                <button class="btn btn-lg btn-success">ZAPISZ ZMIANY</button>
            </form>
        </div>
    </main>
</div>