<link rel="stylesheet" href="css/editor.css">
<script>
    window.onload = function(){

        let area = document.getElementById('text_area')
        let enters = area.value.split("\n").length;
        document.getElementById('line_num').value = '';
        for(let i = 1; i <= enters; i++) document.getElementById('line_num').value += (i+"\n");


        area.onkeyup = function(){
            document.getElementById('line_num').scrollTo(0, area.scrollTop);
            let enters = area.value.split("\n").length;
             document.getElementById('line_num').value = ''
            for(let i = 1; i <= enters; i++){
                document.getElementById('line_num').value += (i+"\n")
            }
        }

        area.onscroll = function(){
            document.getElementById('line_num').scrollTo(0, area.scrollTop);
        }


        //////////////////////////////////////////////////////////////////////////////////////////
        function fontSize(dir){
            let font_size = parseInt(window.getComputedStyle(document.getElementById("text_area")).fontSize)
            if(dir == 1){
                console.log('up')
                document.getElementById('line_num').style.fontSize = `${font_size + 1}px`
                document.getElementById('text_area').style.fontSize = `${font_size + 1}px`
            }else if (dir == 0){
                console.log('down')
                document.getElementById('line_num').style.fontSize = `${font_size - 1}px`
                document.getElementById('text_area').style.fontSize = `${font_size - 1}px`
            }
        }

        document.getElementById('fontD').addEventListener('click', ()=>{ fontSize(0) })
        document.getElementById('fontU').addEventListener('click', ()=>{ fontSize(1) })

    }
</script>
<div class="d-flex">
    <aside>
        <div class="mt-4 d-flex align-items-center justify-content-center p-0" style="width: 230px!important; margin-left: 10px">
            <button class="editor-settings-button" id="fontD" style="border-top-left-radius: 20%; border-bottom-left-radius: 20%; ;background-color: yellow;">Font -</button>
            <button class="editor-settings-button" id="themeCh" style="background-color: rgb(226, 173, 38);" >Kolory</button>
            <button class="editor-settings-button" id="fontU" style="border-top-right-radius: 20%; border-bottom-right-radius: 20%;background-color: orange;">Font +</button>
        </div>
        <button class="btn btn-secondary btn-lg">Zapisz ustawienia</button>
        <button class="btn btn-warning btn-lg">Zmień nazwę
            Pliku</button>
        <button class="btn btn-info btn-lg">Podgląd
            Pliku</button>


    </aside>
    <main style="padding: 0; display: flex; flex-direction: column;" >
        <div id="file_header">{{root}}</div>
        <div class="d-flex" style="height: 100vh;">
            <div id="lines"><textarea id="line_num" disabled></textarea></div>
            <textarea id="text_area" name="content" form="save_form">{{contents}}</textarea>
        </div>
        <div id="save-file-footer">
        <form id="save_form" method="get" action="/saveFile">
            <input type="hidden" name="root" value="{{root}}">
            <button class="btn btn-lg btn-success">ZAPISZ ZMIANY</button>
        </form></div>
    </main>
</div>