<link rel="stylesheet" href="css/editor.css">

<div class="d-flex">
    <aside>
        <button class="btn btn-info btn-lg">Nowy
            folder</button>
        <button class="btn btn-info btn-lg">Nowy plik
            tekstowy</button>
        <button class="btn btn-info btn-lg">Zmień nazwę
            pliku</button>

        <button class="btn btn-info btn-lg p-1">

        </button>


    </aside>
    <main style="padding: 0;">
        <div id="file_header">{{root}}</div>

    </main>
</div>