<div class="container m-5 text-center">
    <p>Zalogowany user to: {{username}}</p>
    <p>Zostaniesz automatycznie wylogowany po 30s</p>
    <div class="row">
        <a href="/filemanager"><button class="btn btn-dark">File manager</button></a>
    </div>
</div>