<div class="containter m-5 text-center">
    <h1>LOGIN</h1><hr><br>
    <div class="row text-center">
        <i class="display-1 bi bi-person-vcard"></i>
    </div>

    <div class="row">
        <form method="POST" action="/login">
            <div class="mb-2"><label class="form-label text-start">Username: <input class="form-control" type="text" name="username" placeholder="username"></label></div>
            <div class="mb-2"><label class="form-label text-start">Password: <input class="form-control" type="password" name="passwd" placeholder="password"></label></div>
            <div class="mb-2"><button type="submit" class="btn btn-outline-dark  rounded-1 mt-2">Login</button></div>
        </form>
    </div>

</div>